<form
  class="card login-card"
  #loginForm="ngForm"
  (ngSubmit)="login(loginForm.value)"
>
  <div class="form__group">
    <label class="form__label" for="email">Email:</label>
    <input
      (ngModel)="(model.email)"
      name="email"
      type="email"
      class="form__input"
      id="email"
      required
    />
  </div>
  <div class="form__group">
    <label class="form__label" for="password">Password: </label>
    <input
      (ngModel)="(model.password)"
      name="password"
      type="text"
      class="form__input"
      id="password"
      required
    />
  </div>
  <div class="button-container">
    <app-button buttonText="Log in" buttonStyle="primary"></app-button>
  </div>
</form>
