<div class="card">
  <i class="fas fa-times quitProfile" (click)="unsetDisplayProfile()"></i>

  <!-- <app-button
    [displayProfile]="displayProfile"
    class="signUpButton"
    buttonText="Go back"
    buttonStyle="primary"
    (click)="unsetDisplayProfile()"
  ></app-button> -->

  <h2>Name</h2>
  <!-- name from database  -->
  <div class="profileInfo">
    <div class="profileText">
      <p class="description">Department:</p>
      <p id="userDepartment"></p>
      <p class="description">Job title:</p>
      <p id="userJobTitle"></p>
      <p class="description">Country:</p>
      <p id="userCountry"></p>
    </div>
    <div class="profileOthers">
      <!-- // image from database - if no image yet -> placeholder -->
      <app-button buttonText="Modify" buttonStyle="primary"></app-button>
    </div>
  </div>
</div>
