<div class="wrapper">
  <app-header
    [isLoggedIn]="isLoggedIn"
    (didLogIn)="setLogIn()"
    [displaySignUp]="displaySignUp"
    (clickedSignUpDisplay)="toggleDisplaySignUp($event)"
    [displayProfile]="displayProfile"
    (clickedProfileDisplay)="toggleDisplayProfile($event)"
  ></app-header>
  <!-- <div class="main-wrapper">
    <app-aside></app-aside> -->

  <app-main
    [isLoggedIn]="isLoggedIn"
    [displaySignUp]="displaySignUp"
    [displayProfile]="displayProfile"
    (clickedProfileDisplay)="toggleDisplayProfile($event)"
  ></app-main>
  <!-- </div> -->
</div>
