:root {
  --color-primary: #ffffff;
  --color-secondary: #c4c4c4;
  --color-tertiary: #575555;
  --color-highlight: #ff0707;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;

  --breakpoint-s: 576px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px;
}

.btn {
  margin: 25px 10px;
  font-family: Montserrat;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 30px;
  transition: all 400ms ease-in;

  &:hover {
    color: white;
    transition: all 400ms ease-in;
    //transition: color 100ms ease-in;
    background-color: var(--color-highlight);
    border: 1px solid var(--color-text-light);
  }
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
}
.btn-secondary {
  background-color: var(--color-tertiary);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
}
