.form__group {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  label {
    margin-right: 10px;
  }
  input {
    width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .sign-up-card {
    display: flex;
    flex-direction: row;
  }
}
