<div class="header" id="header">
  <div class="logoLink logoLinkImage" id="logoLink"></div>
  <app-button
    class="loggedInButton"
    buttonText="Change log in status"
    buttonStyle="primary"
    (click)="setLogIn()"
  ></app-button>
  <h1>{{ title }}</h1>

  <app-icon-button
    class="icon-button nav-hidden-desktop"
    (click)="toggleDisplaySignUp(true)"
  >
  </app-icon-button>

  <div *ngIf="!isLoggedIn; else loggedInButtons">
    <div class="headerButtonsLoggedOut nav-hidden-mobile">
      <app-button
        [displaySignUp]="displaySignUp"
        class="signUpButton"
        buttonText="Sign Up"
        buttonStyle="primary"
        (click)="toggleDisplaySignUp(true)"
      ></app-button>
      <app-button
        class="loginButton"
        buttonText="Login"
        buttonStyle="primary"
        (click)="toggleDisplaySignUp(false)"
      ></app-button>
    </div>
  </div>

  <ng-template #loggedInButtons>
    <app-icon-button
      class="icon-button nav-hidden-desktop"
      (click)="toggleDisplayProfile(true)"
    >
    </app-icon-button>
    <div class="headerButtonsLoggedIn nav-hidden-mobile">
      <app-button
        [displayProfile]="displayProfile"
        class="profileButton"
        buttonText="Profile"
        buttonStyle="primary"
        (click)="toggleDisplayProfile(true)"
      ></app-button>
      <app-button
        class="logoutButton"
        buttonText="Logout"
        buttonStyle="primary"
      ></app-button>
    </div>
  </ng-template>
</div>
