<div class="header">
  <div class="logoLink logoLinkImage" id="logoLink">
    <a></a>
  </div>
  <h1>{{ title }}</h1>

  <i class="fas fa-user-plus nav-hidden-desktop"></i>

  <div *ngIf="!isLoggedIn; else loggedInButtons">
    <div class="headerButtonsLoggedOut nav-hidden-mobile">
      <app-button
        [displaySignUp]="displaySignUp"
        (click)="(setDisplaySignUp)"
        class="signUpButton"
        buttonText="Sign Up"
        buttonStyle="primary"
      ></app-button>
      <app-button
        class="loginButton"
        buttonText="Login"
        buttonStyle="primary"
      ></app-button>
    </div>
  </div>

  <ng-template #loggedInButtons>
    <div class="headerButtonsLoggedIn nav-hidden-mobile">
      <app-button
        class="profileButton"
        buttonText="Profile"
        buttonStyle="primary"
      ></app-button>
      <app-button
        class="logoutButton"
        buttonText="Logout"
        buttonStyle="primary"
      ></app-button>
    </div>
  </ng-template>
</div>
